if [[ `uname` == 'Darwin' ]]; then
  # Update software if any updates are available.
  alias update="sudo softwareupdate -i -a"
  
  # Use new ctags
  alias ctags="`brew --prefix`/bin/ctags"
fi

# 256 colors for tmux
alias tmux="TERM=screen-256color-bce tmux"

# Enhancing cat with syntax highlighting.
alias p="pygmentize -g"

# Make copying more interactive
alias cp="cp -i"

# Replaces original ls. This one uses colors and shows folders, executable
# files, etc.
alias ls="ls -LGaF"

# Replace original rmdir. This one removes every file in the directory
# recursively.
alias rmdir="rm -R"

alias be="bundle exec"
alias hc="~/Code/zendesk/help_center/.hc/libexec/hc"

# Retrieve my IP via OpenDNS.com
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Autocomplete tmux sessions
function tm() {
    [[ -z "$1" ]] && { echo "usage: tm <session>" >&2; return 1; }
    tmux has -t $1 && tmux attach -t $1 || tmux new -s $1
}

function __tmux-sessions() {
    local expl
    local -a sessions
    sessions=( ${${(f)"$(command tmux list-sessions)"}/:[ $'\t']##/:} )
    _describe -t sessions 'sessions' sessions "$@"
}
compdef __tmux-sessions tm

# ls after cd'ing into a directory
function cdd () {
  cd $1
  ls
}

# Create a directory and enter it
function mkcd () {
  mkdir $1 && cd $1
}

# See diff before adding
function gda () {
  git diff $1 && ga $1
}

# Git-related aliases
alias gb="git branch"
alias gc="git commit"
alias gcm="git commit -m"
alias ga="git add"
alias gco="git checkout"
alias gd="git diff"
alias gp="git push"
alias pp="git pull && git push"
alias gs="git status"
alias gl="git log"
alias gbl="git branch --list"
alias gbd="git branch -D"
alias glw="git last-week"
alias gdm="git branch --merged | grep -v "\*" | xargs -n 1 git branch -d "
