[user]
  name = "Mathias Jean Johansen"
  email = mathias@mjj.io
  signingkey = 40EEE6ED
[github]
  user = majjoha
[heroku]
  account = personal
[core]
  editor = nvim
  excludesfile = ~/.gitignore
  untrackedCache = true
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
[commit]
  template = ~/.gitmessage
[init]
  templatedir = ~/.git_template
[credential]
  helper = osxkeychain
[color]
  ui = true
  branch = auto
  interactive = auto
  status = auto
  ui = auto
[diff]
  compactionHeuristic = true
  mnemonicprefix = true
[branch]
  autosetupmerge = true
[submodule]
  fetchJobs = 4
[status]
  branch = 1
  short = 1
[apply]
  whitespace = warn
[push]
  default = upstream
[pull]
  rebase = false
[rerere]
  enabled = true
[instaweb]
  httpd = webrick
[alias]
  br = branch
  branch-name = !"git for-each-ref --format=\"%(refname:short)\" $(git symbolic-ref HEAD)"
  ci = commit
  co = checkout
  graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  last-week = shortlog --since='1 week ago' --pretty=format:'%cD: %s' --author=mathias@mjj.io --no-merges
  preview = !"git fetch && git diff ^origin/master"
  st = status
  standup = shortlog --since=yesterday --no-merges --author=mathias@mjj.io
  undo = reset --soft HEAD^
  unpushed = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
  unstage = reset HEAD
  web = instaweb
  wip = !git add -u && git commit -m "wip"
  zpush = !"git push -u origin `git branch-name`:majjoha/`git branch-name`"
  pr = !"gh pr create --web"
