# Folder view configuration files
.DS_Store
Desktop.ini
Icon

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Class files and the like
*.class
*.out

# Ignore vim history
.vim/.netrwhist
tags
vendor/ruby
dump.rdb
vendor/cache
.vim/spell

# Ignore tmuxinator configurations
.config/tmuxinator

# Projectionist configuration
.projections.json

# Ignore per project .exrc
.exrc
.nvimrc

# Ignore byebug history
.byebug_history

# Ignore configstore
.config/configstore

# Ignore `gh` config
.config/gh

# Ignore session files
Session.vim

# Do not store undo history
.config/nvim/undo
