[submodule ".vim/pack/packages/start/fzf.vim"]
	path = .config/nvim/pack/packages/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/packages/start/vim-fugitive"]
	path = .config/nvim/pack/packages/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/packages/start/vim-projectionist"]
	path = .config/nvim/pack/packages/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule ".vim/pack/packages/start/vim-snippets"]
	path = .config/nvim/pack/packages/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/pack/packages/start/splitjoin.vim"]
	path = .config/nvim/pack/packages/start/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim.git
[submodule ".config/kitty/base16-kitty"]
	path = .config/kitty/base16-kitty
	url = https://github.com/kdrag0n/base16-kitty.git
[submodule ".config/nvim/pack/packages/start/vim-marginalia"]
	path = .config/nvim/pack/packages/start/vim-marginalia
	url = git@github.com:majjoha/vim-marginalia.git
[submodule ".config/nvim/pack/packages/start/nvim-tree.lua"]
	path = .config/nvim/pack/packages/start/nvim-tree.lua
	url = https://github.com/kyazdani42/nvim-tree.lua.git
[submodule ".config/nvim/pack/packages/start/nvim-autopairs"]
	path = .config/nvim/pack/packages/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs.git
[submodule ".bin/z.lua"]
	path = .bin/z.lua
	url = https://github.com/skywind3000/z.lua.git
[submodule ".config/nvim/pack/packages/start/nvim-treesitter"]
	path = .config/nvim/pack/packages/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule ".config/nvim/pack/packages/start/nvim-snippy"]
	path = .config/nvim/pack/packages/start/nvim-snippy
	url = https://github.com/dcampos/nvim-snippy.git
[submodule ".config/nvim/pack/packages/start/mini.nvim"]
	path = .config/nvim/pack/packages/start/mini.nvim
	url = https://github.com/echasnovski/mini.nvim.git
[submodule ".config/nvim/pack/packages/start/nvim-lspconfig"]
	path = .config/nvim/pack/packages/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".config/nvim/pack/packages/start/copilot.vim"]
	path = .config/nvim/pack/packages/start/copilot.vim
	url = git@github.com:github/copilot.vim.git
[submodule ".config/nvim/pack/packages/start/nvim-test"]
	path = .config/nvim/pack/packages/start/nvim-test
	url = git@github.com:klen/nvim-test.git
[submodule ".config/nvim/pack/packages/start/fzf-lua"]
	path = .config/nvim/pack/packages/start/fzf-lua
	url = git@github.com:ibhagwan/fzf-lua.git
