# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Class files and the like
*.class
*.out

# Ignore vim history
.vim/.netrwhist
tags
vendor/ruby
dump.rdb
vendor/cache
.vim/spell

# Projectionist configuration
.projections.json
