[submodule ".vim/bundle/vim-autoclose"]
	path = .vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/base16-vim"]
	path = .vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bin/z"]
	path = bin/z
	url = https://github.com/rupa/z.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bin/fzf"]
	path = bin/fzf
	url = git@github.com:junegunn/fzf.git
[submodule ".vim/bundle/neoterm"]
	path = .vim/bundle/neoterm
	url = https://github.com/kassio/neoterm.git
[submodule ".vim/bundle/neomake"]
	path = .vim/bundle/neomake
	url = https://github.com/benekastah/neomake.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".vim/bundle/vim-projectionist"]
	path = .vim/bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule ".vim/bundle/vim-csscomb"]
	path = .vim/bundle/vim-csscomb
	url = git@github.com:csscomb/vim-csscomb.git
[submodule ".vim/bundle/yajs.vim"]
	path = .vim/bundle/yajs.vim
	url = https://github.com/othree/yajs.vim.git
[submodule ".vim/bundle/vim-colors_ateiler-schemes"]
	path = .vim/bundle/vim-colors_ateiler-schemes
	url = https://github.com/atelierbram/vim-colors_atelier-schemes.git
[submodule ".vim/bundle/neosnippet.vim"]
	path = .vim/bundle/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim.git
