[user]
	name = "Mathias Jean Johansen"
	email = mathias@mjj.io
	signingkey = 61C20226
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[credential]
	helper = osxkeychain
[github]
	user = majjoha
[branch]
	autosetupmerge = true
[status]
  branch = 1
  short = 1
[init]
  templatedir = ~/.git_template
[alias]
  br = branch
  branch-name = !"git for-each-ref --format=\"%(refname:short)\" $(git symbolic-ref HEAD)"
  ci = commit
  co = checkout
  di = diff
  ds = diff --staged
  dump = cat-file -p
  g = grep --break --heading --line-number
  graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  last-week = shortlog --since='1 week ago' --author=mathias@mjj.io --no-merges
  llog = log --date=local
  preview = !"git fetch && git diff ^origin/master"
  st = status
  sta = stash
  standup = shortlog --since=yesterday --no-merges --author=mathias@mjj.io
  type = cat-file -t
  uncommit = reset --soft HEAD^
  undo = reset --soft HEAD^
  undo = reset HEAD~1 --mixed
  unpushed = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
  unstage = reset HEAD
  wip = !git add -u && git commit -m "wip"
  zpush = !"git push -u origin `git branch-name`:majjoha/`git branch-name`"
  pr = !"git-pr"
[core]
	editor = nvim
  excludesfile = ~/.gitignore
[apply]
	whitespace = nowarn
[push]
	default = upstream
[rerere]
	enabled = true
[commit]
  template = ~/.gitmessage
[heroku]
	account = personal
