# const
snippet con
	const ${1} = ${2} => ${3}
snippet cn
	const ${1} = ${2}
# import
snippet imp
	import ${1} from '${2}'
# export
snippet exp
	export ${1}
# console.log
snippet cl
	console.log(${1})
