---
version: 2

tools:
  alex: &alex
    lint-command: "alex"
    lint-formats:
      - "  %l:%c-%e:%k  %terror  %m"
      - "  %l:%c-%e:%k  %tarning  %m"
    lint-stdin: true
    lint-source: "alex"
  cabal-fmt: &cabal-fmt
    format-command: "cabal-fmt --inplace"
    format-stdin: true
  eslint: &eslint
    lint-command: "eslint -f visualstudio --stdin --stdin-filename ${INPUT}"
    lint-ignore-exit-code: true
    lint-stdin: true
    lint-formats:
      - "%f(%l,%c): %tarning %m"
      - "%f(%l,%c): %rror %m"
  gleam: &gleam
    format-command: "gleam format --stdin"
    format-stdin: true
  hadolint: &hadolint
    lint-command: "hadolint --no-color"
    lint-formats:
      - "%f:%l %m"
  jq: &jq
    format-command: "jq ."
    format-stdin: true
  prettier: &prettier
    format-command: "./node_modules/.bin/prettier --stdin-filepath ${INPUT}"
    format-stdin: true
  shellcheck: &shellcheck
    lint-command: "shellcheck -f gcc -x -"
    lint-source: "shellcheck"
    lint-stdin: true
    lint-formats:
      - "%f:%l:%c: %t%*[^:]: %m [SC%n]"
  shfmt: &shfmt
    format-command: "shfmt -ln bash -i 2 -bn -ci -sr -kp"
    format-stdin: true
  stylish-haskell: &stylish-haskell
    format-command: "stylish-haskell -i"
    format-stdin: true
  yamllint: &yamllint
    lint-command: "yamllint --strict --format parsable ${INPUT}"
    lint-stdin: false
    lint-formats:
      - "%f:%l:%c: [%t%*[a-z]] %m"

languages:
  astro:
    - <<: *eslint
    - <<: *prettier
  cabal:
    - <<: *cabal-fmt
  gleam:
    - <<: *gleam
  dockerfile:
    - <<: *hadolint
  haskell:
    - <<: *stylish-haskell
  javascript:
    - <<: *eslint
    - <<: *prettier
  json:
    - <<: *jq
  markdown:
    - <<: *alex
  sh:
    - <<: *shellcheck
    - <<: *shfmt
  typescript:
    - <<: *eslint
    - <<: *prettier
  yaml:
    - <<: *yamllint
