---
version: 2

tools:
  alex: &alex
    lint-command: "alex"
    lint-formats:
      - "  %l:%c-%e:%k  %terror  %m"
      - "  %l:%c-%e:%k  %tarning  %m"
    lint-stdin: true
    lint-source: "alex"
  hadolint: &hadolint
    lint-command: "hadolint --no-color"
    lint-formats:
      - "%f:%l %m"
  jq: &jq
    format-command: "jq ."
    format-stdin: true
  prettier: &prettier
    format-command: "./node_modules/.bin/prettier --stdin-filepath ${INPUT}"
    format-stdin: true
  yamllint: &yamllint
    lint-command: "yamllint --strict --format parsable ${INPUT}"
    lint-stdin: false
    lint-formats:
      - "%f:%l:%c: [%t%*[a-z]] %m"

languages:
  astro:
    - <<: *prettier
  dockerfile:
    - <<: *hadolint
  javascript:
    - <<: *prettier
  json:
    - <<: *jq
  markdown:
    - <<: *alex
  typescript:
    - <<: *prettier
  yaml:
    - <<: *yamllint
