snippet imp
  import ${1} from "${2}"

snippet impt
  import type ${1} from "${2}"

snippet eff
  Effect

snippet f*
  function* () {
    ${1}
  }

snippet y*
  yield* ${1}

snippet decl
  declare

snippet cn
  const ${1} = ${2}

snippet typ
  type ${1} = ${2}

snippet err
  Error

snippet ext
  extends 

snippet num
  number

snippet desc
  describe("${1}", () => {
    ${2}
  })
